<h1><%= @game.title %></h1>
<p><%= @game.description %></p>
<p><img src="<%= @game.image %>" style="width:-webkit-fill-available;height: 300"></p>
<% if user_signed_in? %>
  <%= link_to('Add Review', new_review_path(game: @game)) %>
<% end %>
<% @game.reviews.each do |review| %>
  <p><%= review.body %></p>
  <p>Score: <%= review.score %></p>
  <p><%= "#{review.user.first_name} #{review.user.last_name}" %></p>
  <% if review.user == current_user %>
  <p><%= link_to 'Edit', edit_review_path(review) %></p>
  <% end %>
<% end %>
